<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

<!--local jqury-->
<script src="/js/jQuryLocal.js"></script>




    <!-- <script src="js/jquery.min.js"></script> -->
    <!-- <script src="js/popper.js"></script> -->


    <script src="/js/mainBootstrap.js"></script>


    <script src="/js/mainMain.js"></script>

    <script>
        $('#sidebar').toggleClass('active');

    </script>
</body>
</html>