<%- include("main_header") %> 

    <div class="postOnlyDiv mx-auto mt-2">

    <!-- must pass an post href like "/post/postID" -->
    <%- include("post") %>
    
</div>
    <script src="/js/mainBootstrap.js"></script>
    <!-- for post behavor -->
    <!-- <script src="/js/PostMainjs.js"></script> -->
    
    <%- include("main_footer") %> 
