:root{
    --backround-color:#FAFAFA;
    --main-color:#F78E11;
    --shadow-color:#ED342D;

}
body{
    background-color: var(--backround-color);
}
.main_container {
  display: block;
  width: 30%;
  /* margin-top: 10%;
  margin-bottom: auto; */
min-height: 60vh;
}

.btn_submit {
    display: block;
    width: 75%;
    color: #fff;
    background-color: var(--main-color);
  }


  /* to change boder when box if on foucs */
  .form-control:focus {
    border-color: var(--shadow-color);
    box-shadow: 0 0 0 0.2rem var(--main-color);
}

/* for form dep select */
.form-select:focus {
  border-color: var(--shadow-color);
  box-shadow: 0 0 0 0.2rem var(--main-color);
}

/* for username still lowecase */

#username{
text-transform: lowercase;
}

/* for image privew */

.img_show{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.img_container{
    float:left;
     width: 50%;
}
.img_container input{
    width: 60%;
}

@media (max-width : 1200px ) {
    .main_container{
        width: 40%;
    }
}

@media (max-width: 960px) {
  .main_container {
    width: 60%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.1em;
  }
  .main_container {
    width: 90%;
  }

  .btn_submit {
    display: block;
    width: 90%;
  }
 

}
